{% load static %}

<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"  href="{% static 'css/app.css' %}">
    <link rel="icon"href="{% static 'favicons/favicon.ico' %}">

    <title>Audio Steganography</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color:hsl(0, 0%, 0%)">
        <div class="container">
          <a class="navbar-brand" href="{% url 'fileupload' %}"> Logo</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'fileupload' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'upload_list_LSB' %}">LSB Upload List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'upload_list_phase' %}">Phase Upload List</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
